body{
    background-color: #eee;
}
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
nav{
    background-color: #333;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav a{
    text-decoration: none;
    padding:10px;
    display: block;
    color: #fff;
    text-align: center;
}
nav a:hover{
    background-color: #555;
}
.y{
    padding: 20px;
    border: 1px solid rgb(116, 95, 95);
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-start;
    }
    nav li{
        flex:1 1 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    
}
.label{
    text-align: left;
}